{% extends 'crud/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{ cat.name }}
{% endblock %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<h2>Имя кота: {{ cat.name }}</h2>
		<ul>
			<li>Пол: {{ cat.get_sex_display }}</li>
			<li>Порода: {{ cat.breed }}</li>
			<li>Хозяин: {{ cat.owner }}</li>
			<li>Возраст: {{ cat.age }} год(a)</li>
			<li>Волосатость: {{ cat.get_hair_display }}</li>
			<li style="list-style: none;"><span class="likes">{{ total_likes }}</span> <a style="text-decoration: none;" href="" data-cat-id="{{ cat.id }}" data-user-id="{{ request.user.id }}" class="like"><span class="heart">{% if liked %}💜{% else %}🤍{% endif %}</span></a></li>
		</ul>

		{% if request.user == cat.owner %}
			<p><a href="{% url 'crud:update_cat' cat.id %}">Изменить параметры кота</a></p>
			<p><a href="{% url 'crud:del_cat' cat.id %}">Удалить кота</a></p>
		{% endif %}
		<h3>Комментарии</h3>
		{% if comments %}
			<ul>
				{% for comment in comments %}
					{% if comment.deleted %}
						<li><del style="color: rebeccapurple;">{{ comment.commentator }} - {{ comment.body }}</del></li>
					{% else %}
						<li><span style="color:gray;">{{ comment.commentator }}</span> {{ comment.body }} {% if comment.commentator == request.user %}<a href="{% url 'act:com_del' comment.id %}" style="color: red;"> X</a>{% endif %}</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% else %}
			<h5 style="color: gray;">Комментариев нет</h5>
		{% endif %}
		{% if request.user.is_authenticated %}
			<div style="font-size: 0.8em;">
				<h3 style="font-size: 17px;">Оставьте свой комментарий</h3>
				<form method="POST" class="">
					{% csrf_token %}
					{{ form|crispy }}
					<button type="submit" class="btn btn-success">Добавить!</button>
				</form>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block script %}

function getCount() {
	let button = document.querySelector('.like');
	let likedCount = document.querySelector('.likes');
	$.ajax({
		url: "{% url 'act:like_count' %}",
		type: "get",
		data: {cat_id: button.dataset.catId},
		headers: {'X-CSRFToken': '{{ csrf_token }}'},
		success: function(data) {
			likedCount.textContent = data['count'];
		}
	});
}

$(document).ready(function() {
	getCount();
	setInterval('getCount()', 2000);
	let button = document.querySelector('.like');

	button.onclick = function(e) {
		e.preventDefault();
		$.ajax({
			url: "{% url 'act:like_ajax' %}",
			type: "post",
			data: {cat_id: button.dataset.catId, user_id: button.dataset.userId},
			headers: {'X-CSRFToken': '{{ csrf_token }}'},
			success: function(data) {
				let likedCount = document.querySelector('.likes');
				let heart = document.querySelector('.heart')
				if (data['status'] == 'liked'){
					likedCount.textContent++;
					heart.textContent = '💜';
				}
				if (data['status'] == 'unliked') {
					likedCount.textContent--;
					heart.textContent = '🤍';
				}
			}
		});
	};
});
{% endblock %}
